<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
  verbose="true"
  syntaxCheck="true"
	>
	<testsuites>
		<testsuite name="Astoundify ThemeForest Updater Test Suite">
			<directory suffix=".php">./tests/unit-tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">dev-lib</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
				<directory suffix=".php">inc/admin/view</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
